PORT=3000

POSTGRES_USER=ecrud
POSTGRES_PASSWORD=ecrud_pass
POSTGRES_DB=ecrud
DATABASE_URL="postgresql://ecrud:ecrud_pass@localhost:5432/ecrud?schema=public"

MONGO_USER=ecrud
MONGO_PASSWORD=ecrud_pass
MONGO_DB=ecrud
MONGO_URI="mongodb://ecrud:ecrud_pass@localhost:27017/ecrud?authSource=admin"

REDIS_PASSWORD=ecrud_pass
REDIS_HOST=localhost
REDIS_PORT=6379
