PORT=3000

POSTGRES_USER=your_pg_user
POSTGRES_PASSWORD=your_pg_password
POSTGRES_DB=your_pg_db
DATABASE_URL="postgresql://your_pg_user:your_pg_password@localhost:5432/your_pg_db?schema=public"

MONGO_USER=your_mongo_user
MONGO_PASSWORD=your_mongo_password
MONGO_DB=your_mongo_db
MONGO_URI="mongodb://your_mongo_user:your_mongo_password@localhost:27017/your_mongo_db?authSource=admin"

REDIS_PASSWORD=your_redis_password
REDIS_HOST=localhost
REDIS_PORT=6379
